body {
    background: linear-gradient(140deg, #f0f0f0, #c5ccdf);
}

body.dark-mode {
    background: linear-gradient(140deg, #313131, #12121f);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    width: 480px;
    height: 200px;
    background: linear-gradient(90deg, #5bc3ff, #255977);
    border-radius: 100px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

body.dark-mode .button {
    background: linear-gradient(140deg, #161625, #121220);
    box-shadow:
        inset 0px 15px 10px #10101b80,
        0 8px 20px rgba(0, 0, 0, 0.6),
        0 2px 5px rgba(0, 0, 0, 0.4);
}

.sun-moon {
    background-color: rgb(255, 183, 29);
    box-shadow:
        inset 0px 10px 4px rgb(199, 142, 20),
        inset 0px -8px 4px rgb(255, 206, 99),
        0 0 30px rgba(255, 183, 29, 0.5);
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin: 20px;
    position: absolute;
    transform: rotate(180deg);
    z-index: 10;
    left: 0;
}

body.dark-mode .sun-moon {
    right: 0px;
    left: auto;
    background-color: rgb(206, 206, 206);
    transform: rotate(0deg);
    box-shadow:
        inset 0px 10px 8px rgb(255, 255, 255),
        inset 0px -8px 8px #6e6e6e,
        0 0 40px rgba(220, 220, 220, 0.3);
}

body.dark-mode .crater1 {
    opacity: 1;
    margin-top: 60px;
    margin-left: 22px;
    width: 60px;
    height: 60px;
    background-color: #8f8f8f;
    border-radius: 100%;
    position: absolute;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body.dark-mode .crater2 {
    opacity: 1;
    margin-top: 25px;
    margin-left: 85px;
    width: 30px;
    height: 30px;
    background-color: #8f8f8f;
    border-radius: 100%;
    position: absolute;
    box-shadow: inset 6px 6px 4px rgba(0, 0, 0, 0.3);
}

body.dark-mode .crater3 {
    opacity: 1;
    margin-top: 100px;
    margin-left: 95px;
    width: 20px;
    height: 20px;
    background-color: #8f8f8f;
    border-radius: 100%;
    position: absolute;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.cloud {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode .cloud {
    opacity: 0;
}

.c1 {
    width: 250px;
    height: 250px;
    margin-bottom: -150px;
    z-index: 9;
}

.c2 {
    width: 200px;
    height: 200px;
    margin-bottom: -100px;
    margin-left: 180px;
    z-index: 8;
}

.c3 {
    width: 250px;
    height: 250px;
    margin-bottom: -100px;
    margin-left: 325px;
    z-index: 7;
}

.star {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(228, 228, 228, 0.925);
    clip-path: polygon(50% 0%, 65% 25%, 100% 50%, 65% 75%,
            50% 100%, 35% 75%, 0% 50%, 35% 25%);
    animation-fill-mode: both;
    opacity: 0;
}

body.dark-mode .star {
    opacity: 1;
}

.s1 { width: 20px; height: 20px; top: 50px; left: 250px; }
.s2 { width: 8px; height: 8px; top: 110px; left: 235px; }
.s3 { width: 10px; height: 10px; top: 140px; left: 200px; }
.s4 { width: 8px; height: 8px; top: 40px; left: 190px; }
.s5 { width: 5px; height: 5px; top: 90px; left: 180px; }
.s6 { width: 18px; height: 18px; top: 24px; left: 100px; }
.s7 { width: 8px; height: 8px; top: 90px; left: 110px; }
.s8 { width: 5px; height: 5px; top: 165px; left: 120px; }
.s9 { width: 7px; height: 7px; top: 50px; left: 55px; }
.s10 { width: 5px; height: 5px; top: 140px; left: 80px; }
.s11 { width: 5px; height: 5px; top: 152px; left: 65px; }

